@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000; /* Text color set to black */
  --background: #ffffff; /* Background color set to white */
  --font-twentieth-century: 'Twentieth Century', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-twentieth-century);
}
